body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Asap:ital@1&family=Merriweather&family=Montserrat:wght@200;300;700&family=Poppins&family=Roboto:wght@100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  background-image: linear-gradient(to right, #012026, #080f15);
  height: 5em;
}
.navToogle {
  background-image: linear-gradient(to right, #012026, #080f15);
}
.carousel {
  width: 50%;
  height: auto;
  margin: auto;
}
.main {
  margin: 4em 0;
}

.mainTeam {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  /* background-image: linear-gradient(to left, rgba(5, 20, 24, 0.9), #080f15); */
  margin-bottom: 5em;
  margin-top: 2em;

}

.card {
  background-color: #012026;
}
/* #051418 */
.mainServices {
  margin-bottom: 5em;
  margin-top: -0.5em;
  background-image: linear-gradient(to left, rgba(5, 20, 24, 0.9), #080f15);
  padding-bottom: 5em;
  padding-top: 0.1em;
}

.cardService {
  margin-top: 1.5em;
  padding: 2.5rem;
  border-radius: 10px;
  border: transparent;
  transition: 1s;
  animation: ease-in-out;

}

.cardService:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  color: #080f15;
  transition: 1s;
}

.mainContact {
  padding: 1em;
  margin: 5em 0;
}

/* ========================= FEDBACK ========================= */
.mainFeedbacks {
  padding: 6em 0;
  margin-bottom: 4em;
  background-image: linear-gradient(to left, rgba(5, 20, 24, 0.9), #080f15);
}


@media only screen and (min-width: 992px) {
  
    .colService {

    }
}